.DS_Store
cmd/urlfounder/urlfounder
# urlfounder binary when built with `go build`
v2/cmd/urlfounder/urlfounder
# urlfounder binary when built with `make`
v2/urlfounder
vendor/
.idea
.devcontainer
dist